@import '~antd/dist/antd.css';
* {
  font-family: Helvetica !important;
  color: #22262B;
}
.App {
  text-align: center;
  font-family: Palatino;
}

.App-header {
  background-color: white;
  border-bottom: solid 10px #96C7BC;
  border-top: solid 5px #E6DAFC;
  height: 150px;
  padding-top: 5px;
  padding-bottom: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-Body {
  border-top: solid 3px #607998;
  border-radius: -4px;
  padding-left: 10%;
  padding-right: 10%;
}
