.Container {
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.Item {
  font-weight: bold;
}

.SectionTimeline {
  padding-left: 50px;
  text-align: left;
  padding-right: 50px;
}

.SectionSubheading {
  font-weight: bold;
  font-size: 18px;
  flex-grow: 2;
}

.SectionSubheading2 {
  padding-top: 5px;
  font-size: 14px;
  flex-grow: 2;
}

.SectionDate {
  flex-grow: 0;
}

.SectionDate2 {
  padding-top: 5px;
  flex-grow: 0;
  font-size: 14px;
  font-weight: normal;
}
