.Container {
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.Item {
  font-weight: bold;
}

.SectionTimeline {
  padding-left: 50px;
  text-align: left;
  padding-right: 50px;
}

.SectionSubheading {
  font-weight: bold;
  font-size: 16px;
  flex-grow: 2;
}

.SectionDate {
  flex-grow: 0;

}

.SectionInformation {
  font-weight: normal;
  padding-left: 10px;
}
