.Container {
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.Item {
  font-weight: bold;
}

.SectionTimeline {
  padding-left: 50px;
  text-align: left;
  padding-right: 50px;
}

.SectionSubheading {
  font-weight: bold;
  font-size: 18px;
  flex-grow: 2;
}

.SectionSubheading2 {
  font-size: 14px;
  flex-grow: 2;
}

.SectionDate {
  flex-grow: 0;
}

.SectionDate2 {
  flex-grow: 0;
  font-size: 14px;
  font-weight: normal;
}

.SectionInformation {
  font-weight: normal;
  padding-left: 10px;
}

.SkillHeading {
  text-align: left;
}

.Skills {
  text-align: left;
}

ul {
  list-style-type: none;
}

.pinkTimeline > .ant-timeline-item-head {
  border-color: #E35858 !important;
  color: #E35858 !important;
}

.purpleTimeline > .ant-timeline-item-head {
  border-color: #E6DAFC !important;
  color: #E6DAFC !important;
}
.tealTimeline > .ant-timeline-item-head {
  border-color: #96C7BC !important;
  color: #96C7BC !important;
}
.blueTimeline > .ant-timeline-item-head {
  border-color: #607998 !important;
  color: #607998 !important;
}

.pinkHorizontal.ant-divider:before,
.pinkHorizontal.ant-divider:after {
  border-top: 4px solid #E35858 !important;
  border-radius: 4px;
}

.purpleHorizontal.ant-divider:before,
.purpleHorizontal.ant-divider:after {
  border-top: 4px solid #E6DAFC !important;
  border-radius: 4px;
}

.tealHorizontal.ant-divider:before,
.tealHorizontal.ant-divider:after {
  border-top: 4px solid #96C7BC !important;
  border-radius: 4px;
}

.blueHorizontal.ant-divider:before,
.blueHorizontal.ant-divider:after {
  border-top: 4px solid #607998 !important;
  border-radius: 4px;
}
